# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Python cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/

# Generated thumbnails (optional)
website/thumbnails/

# Generated metadata (optional)
website/videos.json

/downloads
archive.txt
cookies.txt
yt-dlp

/node_modules
/thumbnails


